@charset "UTF-8";
/**
 *
 * @authors HYour Name (you@example.org)
 * @date    2017-07-02 15:41:29
 * @version $Id$
 */ 
*{
        padding: 0;
        margin: 0;
    }
    .noMarRight {
        margin-right: 0;
    }
    .clearfix:after {
        content: "";
        display: block;
        clear: both;
    }
    #wrap {
        width: 1200px;
        margin: auto;
    }
    #wrap #div1{
        position: relative;
        width: 100%;
        height: 160px;/*有问题必须随时随地换高度*/
        background: #FCE7E7;
        border-top: 1px solid #000;
        border-left: 1px solid #000;
        border-right: 1px solid #000;
    }
    #div1 span{
        float: left;
        display: inline-block;
        margin-left: 30px;
        margin-top: 50px;
        width: 145px;
        height: 50px;
        background: url(simgenLOGO.png) #F9D3D3 center;
    }
    #div1 #search {
        float: right;
        margin-right: 50px;
        margin-top: 30px;
        border: 1px solid #8F7A7A;
        width: 360px;
        height: 25px;
        text-align: center;
        background: #FCE7E7;
        color: #999;
    }
    #div1 .clearfix:after {
        content: "";
        display: block;
        clear: both;
    }
    #div1 #nav {
        position: absolute;
        bottom: 0;
        right: 0;
        border-top: 1px solid #8F7A7A;
        border-left: 1px solid #8F7A7A;
        border-right: 1px solid #8F7A7A;
        width: 1100px;
        height: 40px;
    }
    #div1 #nav li {
        display: inline-block;
        float: left;
        margin-right: 40px;
        height: 100%;
        list-style: none;
        text-align: left;
        line-height: 40px;
        font-size: 14px;
    }
    #div1 #nav #liFirst {
        margin-left:  -40px;
    }
    #navdiv #liLast{
        display: inline-block;
        position: absolute;
        float: right;
        margin-right: 50px;
        margin-top: -50px;
        width: 115px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        border: 1px solid #ddd;
    }
    /*#wrap #banner {
        position: relative;
        width: 100%;
        height: 320px;
        border: 1px solid #000;
    }
    #banner #partList {
        width: 100%;
        height: 100%;
    }
    #banner #partList li {
        position: absolute;
        top: 0;
        left: 0;
        list-style: none;
        width: 100%;
        height: 100%;
        opacity: 0;
    }
    #banner .show {
        opacity: 1;
        animation:move 3s;
    }
    @keyframes move {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
    #banner #partList li h2 {
        position: absolute;
        width: 270px;
        top: 20%;
        left: 50%;
        margin-left: -135px;
    }
    #banner #partList li p {
        position: absolute;
        width: 220px;
        font: 14px "Microsoft Yahei";
        top: 40%;
        left: 50%;
        margin-left: -110px;
    }
    #banner #partList li a{
        position: absolute;
        display: inline-block;
        width: 80px;
        height: 35px;
        line-height: 35px;
        text-decoration: none;
        font-size: 14px;
        text-align: center;
        color: #000;
        border: 1px solid #000;
    }
    #banner #partList li #learnMore {
        top: 70%;
        left: 40%;
    }
    #banner #partList li #useFree {
        top: 70%;
        left: 50%;
    }
    #banner #choose {
        position: absolute;
        top: 85%;
        left: 50%;
        margin-left: -65px;
        width: 130px;
        height: 20px;
    }
    #banner #choose li {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: 15px;
        list-style: none;
        border-radius: 10px;
        border: 1px solid #000;
        cursor: pointer;
    }*/

    #banner{
            position: relative;
            width: 100%;
            height: 320px;
            /*background: pink;/*test*/*/
        }
        #banner .pic{
            position: relative;
            width: 100%;
            height: 100%;
        }
        #banner .pic #partList li{
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            list-style: none;
            filter: alpha(opacity=0);
            width: 100%;
            height: 100%;
            color: #fff;
        }
        #banner .pic #partList li.on{
            opacity: 1;
            filter: alpha(opacity=100);
        }
        #banner .pic #partList li h2 {
            position: absolute;
            width: 270px;
            top: 20%;
            left: 51%;
            margin-left: -135px;
        }
        #banner #partList li p {
            position: absolute;
            width: 220px;
            font: 14px "Microsoft Yahei";
            top: 40%;
            left: 50%;
            margin-left: -110px;
        }
        #banner #partList li a{
            position: absolute;
            display: inline-block;
            width: 80px;
            height: 35px;
            line-height: 35px;
            text-decoration: none;
            font-size: 14px;
            text-align: center;
            color: #fff;
            border: 1px solid #fff;
        }
        #banner #partList li #learnMore {
            top: 70%;
            left: 40%;
        }
        #banner #partList li #useFree {
            top: 70%;
            left: 50%;
        }
        #banner .pic #partList li img{
            width: 100%;
            height: 100%;
        }
        #banner .tab{
            position: absolute;
            bottom: 10px;
            left: 50%;
            margin-left: -45px;
            width: 90px;
            height: 20px;
            background: #999;
            background: rgba(255,255,255,.5);
            border-radius: 10px;
        }
        #banner .tab ul li{
            list-style: none;
            float: left;
            width: 14px;
            height: 14px;
            background: #fff;
            margin: 3px;
            border-radius: 100%;
            cursor: pointer;
        }
        #banner .tab ul li.on{
            background: #f60;
        }
        /*#banner .btn div{
            position: absolute;
            top: 50%;
            margin-top: -20px;
            width: 30px;
            height: 40px;
            background: #000;
            background: rgba(0,0,0,.5);
            color: #fff;
            font-weight: bold;
            line-height: 40px;
            text-align: center;
            cursor: pointer;
        }
        #banner .btn div.left{
            left: 0;
        }
        #banner .btn div.right{
            right: 0;
        }*/
    #wrap #div3 {
        position: relative;
        width: 100%;
        height: 200px;
        background: #fff;
    }
    #wrap #div3 ul {
        position: absolute;
        top: 50%;
        margin-top: -60px;
        width: 100%;
        height: 120px;
    }
    #wrap #div3 ul li {
        position: relative;
        width: 255px;
        height: 100%;
        list-style: none;
        float: left;
        margin-right:55px;
        border: 1px solid #ddd;
    }
    #wrap #div3 ul li img {
        position: absolute;
        top: 50%;
        margin-top: -25px;
        left: 10%;
        width: 50px;
        height: 50px;
    }
     #wrap #div3 ul li h3 {
        position: absolute;
        left: 40%;
        top: 20%;
        font-size: 14px;
        //需不需要限制宽度？？？？？
     }
     #wrap #div3 ul li p {
        position: absolute;
        left: 40%;
        top: 40%;
        font-size: 13px;
     }
    #wrap #div4 {
        position: relative;
        width: 100%;
        height: 500px;
        background: #eee;
        border-top: 1px solid #000;
        border-left: 1px solid #000;
        border-right: 1px solid #000;
    }
    #wrap #div4 h3{
        position: absolute;
        top: 20%;
        left: 50%;
        margin-left: -175px;
        width: 350px;
        height: 55px;
        font: 35px "Microsoft Yahei";
        color: #026DFE;
        text-align: center;

    }
     #wrap #div4 ul {
        position: absolute;
        top: 40%;
        left: 50%;
        margin-left: -375px;
        width: 750px;
        height: 210px;
     }
     #wrap #div4 ul li {
        position: relative;
        float: left;
        list-style: none;
        width: 200px;
        height: 100%;
        margin-right: 75px;
     }
    #wrap #div4 ul li img{
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -75px;
        width: 150px;
        height: 150px;
    }
    #wrap #div4 ul li p{
        position: absolute;
        top: 73%;
        left: 50%;
        margin-left: -100px;
        width: 200px;
        font-size: 13px;
    }
    #wrap #div5 {
        position: relative;
        width: 100%;
        height: 500px;
        border: 1px solid #000;
    }
    #wrap #div5 h3 {
        position: absolute;
        font: 35px "Microsoft Yahei";
        top: 20%;
        left: 50%;
        margin-left: -108px;
        width: 216px;
        height: 45px;
        color: #026DFE;
    }
