/*tongyong begin*/
* {
	padding: 0;
	margin: 0;
}
li {
	list-style: none;	
}
a {
	color: #000;
	text-decoration: none;
}
.clearfix:after {
	display: block;
	content: "";
	clear: both;
}
/*tongyong end*/
/*header begin*/
header{
	width: 100%;
	height: auto;/*to think*/
	box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}
header .top-logo-row-wrapper {
	width: inherit;
	height: 40px;
}
header .top-logo-row-wrapper .top-logo-row {
	width: 1352px;/*zi shi ying yaogai*/
	padding: 0 24px;
	height: inherit;/*height to change*/
	margin: 0 auto;
}
header .header-upper-tabs {
	width: inherit;
	height: 48px;
	background: #f2f2f2;
}
header .header-upper-tabs .doc-set-nav {
	position: relative;
	width: 1400px;/*zi shi ying yaogai*/
	height: inherit;/*height to change*/
	margin: 0 auto;
}
header .doc-set-nav-tab-list {
	display: inline-block;
	width: 1125px;
	height: inherit;
	
}
header .doc-set-nav-tab-list .doc-set-nav-tab-container {
	float: left;
	padding: 0 55px;
	height: 48px;
	line-height: 48px;
}
	
header .doc-set-nav-tab-container .doc-set-nav-tab {
	color: rgba(0,0,0,.54);

}
header .doc-set-nav-tab-container .doc-set-nav-tab:hover {
	color: #000;
}
header .header-button-wrapper {
	position: absolute;
	left: 0;
	top: 0;
	top: 50%;
	margin-top: -18px;
	display: inline-block;
	height:36px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	background: #ddd;
	border-radius: 2px;
	cursor: pointer;
}
header .free-trail-wrapper {
	left: 1125px;
	
}
header .contacy-sales-wrapper {
	left: 1245px;
}
header .header-button {
	position: relative;
	height: 36px;
	padding: 8px 16px;
	border: 0 none;
	outline: none;
	border-radius: 2px;
	cursor: pointer;
}
header .header-button:hover {
	bottom: 3px;
}
header .free-trail-button {
	background: #2196f3;
}	
header .contact-sales-button {
	background: #fff;
}
/*header end*/
