/*通用 begin*/
* {
	padding: 0;
	margin: 0;
}
li {
	list-style: none;	
}
a {
	color: #000;
	text-decoration: none;
}
img { 
    max-width: 100%;
}
.clearfix:after {
	display: block;
	content: "";
	clear: both;
}
/*通用 end*/
html {
    font-size: 62.5%;/*10 ÷ 16 × 100% = 62.5%*/
}
body {
    /*background: #f2f2f2;*/
    font-family: "Roboto,sans-serif";
    height:auto;/*to delete*/
}
/*header begin*/
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
	width: 100%;
	height: 136px;
	box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}
@media (max-width: 830px) { /*search part*/
    header{
        height: auto;
    }
}
header .top-logo-row-wrapper {
    width: inherit;
    height: 85px;
    background: #fff;
}
header .top-logo-row-wrapper .top-logo-row {
    position: relative;
    height: inherit;
    margin: 0 auto;
    /*background: yellow;*/
    /*padding: 0 24px;*/
    /*max-width: 1352px;*/
    max-width: 1400px;
}
header .top-logo-row .top-hide-tabs{
    display: none;
    float: left;
    background: #fff;
    border: 0 none;
    outline: 0;
    margin: 28px 10px 0 0;
    cursor: pointer;
}
@media (max-width: 650px) {
    header .top-logo-row .top-hide-tabs {
        display: block;
    } 
}
header .top-logo-row .logo-wrapper {
    width: 155px;
    float: left;
    height: 36px;
    margin: 24px 0 24px 20px;/*为了导航页有下划线效果添加的左侧20px以便与首页这个字对齐*/
    /*background: green;*/
        
}
header .top-search-wrapper {   
    float: right;
    display: inline-block;
    background: #f7f7f7 url("img/search.png") no-repeat;
    background-size:  28px 28px;
    background-position: 20px 6px;
    padding: 13px 8px 13px 72px;
    margin: 20px 0 0 24px;
    border-radius: 5px;
}
/*@media (max-width: 830px){
    header .top-search-wrapper {  
        display: block; 
        background: pink;
    }
}*/
header .top-search-wrapper  input{
    border: 0 none;
    outline: 0;
    /*width: 120px;*/
    height: 15px;
    font-size: 14px;
    font-size: 1.4rem;
    color: #bab1ba;
    vertical-align: middle;
    background: #f7f7f7;
    transition: width 400ms ease;
}
/*header .top-search-wrapper  input:focus{
    width: 550px;
}
@media (max-width: 830px) {
    header .top-search-wrapper  input:focus{
    width: 220px;
}
}*/
header .top-search-wrapper  input::-webkit-input-placeholder { /* WebKit browsers */
    color:#bab1ba;
}
header .top-search-wrapper  input::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#bab1ba;
}
header .top-search-wrapper  input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#bab1ba;
}
header .top-search-wrapper  input::-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#bab1ba;
}
header .header-upper-tabs {
    width: inherit;
    height: 49px;/*为了让标题栏border显示，增加盒子高度*/
    background: #f2f2f2;
}
header .header-upper-tabs .doc-set-nav {
    position: relative;
    height: inherit;
    margin: 0 auto;
    /*background: orange;*/
    /*padding: 0 0 0 20px;*/
    /*max-width: 1380px;*/
    width: inherit;
    max-width: 1400px;
    
}
@media (max-width: 650px) { /*50*/
    header .header-upper-tabs .doc-set-nav {
        text-align: center;
    }
}

header .doc-set-nav-tab-list {
    display: block;
    float: left;
    height: inherit;
    /*background: pink;*/
    /*min-width: 1028px; 可以设置最小宽度，在响应式布局里面@media后改代码巴拉巴拉*/
    font-size: 14px;
    font-size: 1.4rem;
    
}
@media (max-width: 650px) { /*50*/ 
    header .doc-set-nav-tab-list{
        display: none;
    }
}
header .doc-set-nav-tab-list .doc-set-nav-tab-container {
    float: left;
    padding: 0 20px;
    height: 48px;
    line-height: 48px;
}
header .doc-set-nav-tab-list .doc-set-nav-tab-border {
    border-bottom: 2px solid #008b4a;/*为了让他显示，标题栏高度得减小border的厚度*/
}
/*header .doc-set-nav-tab-list .doc-set-nav-tab-home {
    padding: 0 20px;
}*/    
header .doc-set-nav-tab-container .doc-set-nav-tab {
    color: rgba(0,0,0,.54);
    
}
header .doc-set-nav-tab-container .doc-set-nav-tab:hover {
    /*color: #000;*/
    color: #008b4a;
}

header .free-trail-button {
    float: right;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    background: #008b4a;
    color: #fff;
    margin: 7px 0 7px 0;
}

header .free-trail-button:hover {
    box-shadow: 0 0 4px #041, 0 4px 8px #041;
    margin: 2px 0 4px;
}
@media (max-width: 650px) { /*必须放在hover后面才行愉快的动*/
    header .free-trail-button { /*此处注意层级关系*/
        float: none;
        padding: 10px 50px;
    }
}
/*header end*/

/*header-hidden-mask start*/
.header-hidden-mask {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #212121;
    cursor: pointer;
    opacity: .5;
    z-index: 10011;
}
/*header-hidden-mask end*/

/*header-hidden-nav-wrapper start*/
.header-hidden-nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    height: 100%;
    width: 256px;
    outline: 0;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 10012;
}
.header-hidden-nav-wrapper .header-hidden-nav-li {
    width: cal(100%-48px);
    line-height: 53px;
    font-size: 16px;
    font-size: 1.6rem;
    padding: 0 24px;
    border-bottom: 1px solid #cfd8dc;
    font-weight: 600;
    font-family: "宋体";
} 
.header-hidden-nav-wrapper .header-hidden-nav-li:hover a{
    color: #008b4a;
}
.header-hidden-nav-wrapper .header-hidden-nav-li  a{
    color: #bab1ba;
}
/*header-hidden-nav-wrapper end*/



/*section 轮播图start*/
#carousel-wrapper{
    margin-top:135px;/*为了与header的fixed一起*/
    width: 100%;
    height: 400px;
    /*background: orange;*/
}
#carousel-wrapper .carousel-list-wrapper{
    height: inherit;
    /*background: pink;
    max-width: 1400px;*/
    width: inherit;
    margin: 0 auto;
}
#carousel-wrapper .carousel-list-wrapper #carousel-list {
    position: relative;
    width: inherit;
    height: inherit;
    /*background: purple;*/
}
#carousel-wrapper .carousel-list-wrapper #carousel-list li{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    list-style: none;
    filter: alpha(opacity=0);
    width: 100%;
    height: 100%;
    color: #fff;
    background: url("/content/img/banner-dna-4.jpg") no-repeat center; /*alipay.jpeg*/
    background-size: cover;/*两步骤能够实现背景图片在窗口缩小时只显示中间部分*/
    /*background-size: 100% 100%;*/
    text-align: center;
}
#carousel-wrapper .carousel-list-wrapper #carousel-list li.on{
    opacity: 1;
    filter: alpha(opacity=100);
}
#carousel-wrapper #carousel-list li h2 {
    position: relative;
    margin: 55px 0 30px;
    font-size: 37px;
    font-size: 3.7rem;
    letter-spacing: 5px;
}
@media (max-width: 520px) {
    #carousel-wrapper #carousel-list li h2 {
        font-size: 20px;
        font-size: 2rem;
    }
}
#carousel-wrapper #carousel-list li p { /*等具体文字出来后还要继续修改*/
    /*width: 25%;*/
    position: relative;
    margin: 0 auto 30px;
    font-size: 20px;
    font-size: 2rem;
    /*letter-spacing: .03em;*/
    letter-spacing: .06rem;
    line-height: 40px;
    height: auto;
    max-height: 180px;
    overflow: hidden;
    /*text-overflow: ellipsis;
    white-space: nowrap;*/
}
@media (max-width: 520px){
    #carousel-wrapper #carousel-list li p {
        width: 40%;
        font-size: 15px;
        font-size: 1.5rem;
    }
}


#carousel-wrapper #carousel-list li a{
    display: inline-block;
    padding: 8px 15px 8px 15px;
    text-decoration: none;
    font-size: 14px;
    font-size: 1.4rem;
    color: #fff;
    border: 1px solid #fff;
}
#carousel-wrapper #carousel-list li #learnMore {
    margin-right: 50px;
}
#carousel-wrapper #carousel-list li #useFree {

}
#carousel-wrapper .carousel-list-wrapper #carousel-list li img{
    width: 100%;
    height: 100%;
}
#carousel-wrapper .tab{
	position: relative;
    /*background: pink;*/
    max-width: 1400px;
    height: 20px;
    margin: 0 auto;
    bottom: 6%;
}
#carousel-wrapper .tab ul {  /*神奇般的实现了功能*/
    position: absolute;
    height: inherit;
    /*background: #ddd;*/
    left: 50%;
    margin-left: -32px;
    margin-bottom: 24px;
}
#carousel-wrapper .tab ul li{  
    list-style: none;
    float: left;
    width: 14px;
    height: 14px;
    line-height: 14px;
    background: #DDDDDD;
    margin-right: 7px;
    border-radius: 100%;
    cursor: pointer;
}
#carousel-wrapper .tab ul li.on{
    background: rgba(0,0,0,.28);
}
/*section 轮播图end*/

/*section notice-wrapper begin*/
/*.notice-wrapper {
    width:100%;
    height:77px;
    background: pink;
}
.notice-wrapper .noticeBox {
    position: relative;
    height: inherit;
    margin: 0 auto;
    /*padding: 0 24px;
    max-width: 1352px;*/
/*    max-width: 1400px;
    background:  yellow;
}
.notice-wrapper .notice-tit {
    float: left;
    display: inline-block;
    margin: 23px 28px 23px 0;
    padding: 4px 6px;
    background: #fa991b;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font: 1.4rem;
    border-radius: 2px;

}
.notice-wrapper .notice-list {
    float: left;
    /*max-width: 1300px;
    width: 1300px;*/
/*    width: 92%;
    height: 24px;
    margin: 25px 0;
    background: green;
    /*应该加个最小宽度,防止他掉下去，暂时未加*/
/*}
.notice-wrapper .notice-list .notice-item {
    float:left;
    max-width: 280px;
    margin-right: 47px;
    background: pink;
    overflow: hidden;
    height: inherit;
    line-height: 24px;
}
.notice-wrapper .notice-item .notice-item-a {
    display: inline-block;
    max-width: 240px;
    color: #1A1A1A;
    font-size: 14px;
    font-size: 1.4rem;
    background: orange;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: inherit;
}
.notice-wrapper .notice-item-a span {
    color: #9A9A9A;

}
.notice-wrapper .notice-item .new{
    position: relative;
    right: 0;
    top: -11px;
    display: inline-block;
    -ms-transform: scale(.8, .8);
    -webkit-transform: scale(.8, .8);
    transform: scale(.8, .8);
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    color: #fff;
    font-size: 10px;
    font-size: 1rem;
    background-color: #e04646;
    border-radius: 2px;
    line-height: 1;
    padding: 1px 3px 3px;
}
.notice-wrapper .notice-list .notice-item-more {/*阿西吧有问题再说*/
/*    float: right;
    font-size: 14px;
    font-size: 1.4rem;
    height: inherit;
    line-height: 24px;
    background: pink;
}
.notice-wrapper .notice-item-more  .notice-item-amore{
    color: #9A9A9A;
    background: violet;
    height: inherit;
}*/


.notice-wrapper {/*要做出来与cloud.google相同*/
    width:100%;
    height:77px;
    background: #f2f2f2;
}
.notice-wrapper  .noticeBox {
    display: flex;
    max-width: 1400px;
    height: inherit;
    max-height: 77px;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    
}
.notice-wrapper .noticeBox .notice-tit {
    max-height: 77px;
    padding: 4px 6px;
    background: #008b4a;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font: 1.4rem;
    border-radius: 2px;
    margin-right: 20px;
    min-width: 64px;
}

.notice-wrapper .notice-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1304px;
    width: 100%;/*加了这个才能正常占满剩余空间*/
    overflow: hidden;/*为了不影响后续才弄得*/
    text-overflow: ellipsis;
    white-space: nowrap;
    /*background: yellow;*/
}
.notice-wrapper .notice-list .notice-item {
    margin-right: 25px;
    overflow: hidden;/*这三行似乎形成了相对好的效果*/
    text-overflow: ellipsis;
    white-space: nowrap;
}

.notice-wrapper .notice-item .notice-item-a {
    display: inline-block;
    font-size: 14px;
    font: 1.4rem;
    max-width: 240px;
    color: #1A1A1A;
    /*background: orange;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: inherit;
    font-size: 14px;
    font-size: 1.4rem; 
    
}
.notice-wrapper .notice-item-a span {
    color: #9A9A9A;
}
.notice-wrapper .notice-item .new{
    display: inline-block;
    -ms-transform: scale(.8, .8);
    -webkit-transform: scale(.8, .8);
    transform: scale(.8, .8);
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    color: #fff;
    font-size: 10px;
    font-size: 1rem;
    background-color: #e04646;
    border-radius: 2px;
    line-height: 1;
    padding: 1px 3px 3px;

    position: relative;
    top: -8px;
}
.notice-wrapper .notice-list .notice-item-more {
    margin-left: auto;
    overflow: hidden;/*这三行似乎形成了相对好的效果*/
    text-overflow: ellipsis;
    white-space: nowrap;
}
.notice-wrapper .notice-item-more .notice-item-amore {
    font-size: 14px;
    font: 1.4rem;
    color: #bab1ba;
}
/*section notice-wrapper end*/

/*section character start*/
/*#character-wrapper {
    position: relative;
    width: 100%;
    height: 200px;
}
#character-wrapper .character-list-wrapper {
    height: inherit;
    margin: 0 auto;
    max-width: 1400px;
}
#character-wrapper ul {
    width: inherit;
    height: inherit;  
    /*background: orange;*/
/*}
#character-wrapper ul li {
    position: relative;
    float: left;
    list-style: none;
    border: 1px solid #bbb;
    font-size: 10px;
    font-size: 1rem;
    width: 185px;
    height: 198px;/*2px 的边框*/
    /*padding: 0 20px;
    margin-right: 125px;
}
#character-wrapper ul .charaLast {
    margin-right: 0;
}
#character-wrapper ul li img {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    left: 10%;
    width: 55px;
    height: 55px;
}
#character-wrapper ul li h3 {
    position: absolute;
    left: 40%;
    top: 20%;
    font-size: 14px;
    font-size: 1.4rem;
}
#character-wrapper ul li p {
    position: absolute;
    left: 40%;
    top: 40%;
    font-size: 13px;
    font-size: 1.3rem;
}

/*section character end*/


/*section advantage start*/
.advantage-wrapper {
    width: 100%;
    /*min-height: 377px;/*为了下面不被影响*/
    background: #fff;
    height:500px;
}
@media (max-width: 920px) {
    .advantage-wrapper {
        height: auto;
    }
}
.advantage-wrapper .advantageBox {
    max-width: 1400px;
    height: inherit;
    /*background: green;*/
    margin: 0 auto;
}
.advantage-wrapper .adv-tit {
    margin:0 auto;
    /*background: orange;*/
    text-align: center;
    font-size: 35px;
    font-size: 3.5rem;
    color: #36474F;
    font-weight: normal;
    padding: 60px 0;
}

.advantage-wrapper .adv-list {
    width: 100%;
    max-width: 1400px;
    height: 250px;
    /*background: yellow;*/
    /*min-height: 250px;*/
}
@media (max-width: 920px) {
    .advantage-wrapper .adv-list {
        height: 1000px;/*现在程序必须得自己计算出来响应式以后的高度，有啥更好的解决办法???*/
    }
}
.advantage-wrapper .adv-list .adv-item {
    float: left;
    /*max-width: 350px;*/
    width: 25%;
    /*background: pink;*/
    height: 250px;
    text-align: center;
}
@media (max-width: 920px) {
    .advantage-wrapper .adv-list .adv-item {
        /*background: violet;*/
        width: 100%;
    }
}
.advantage-wrapper .adv-item img {
    width: 200px;
    height: 200px;
    /*border: 1px solid #008b4a;*/
}
.advantage-wrapper .adv-item h6 {
    margin: 30px 0;
}
.advantage-wrapper .adv-item p {
    max-width: 330px;
    margin: 0 auto;
    /*background: yellow;*/
}
/*section advantage end*/
/*section sample start*/
.sample-wrapper {
    width: 100%;
    height: 550px;
    background: #F7F7F7;
    /*background: pink;*/
}
@media (max-width: 920px) {
    .sample-wrapper {
        height: auto;
    }
}
.sample-wrapper .sampleBox {
    max-width: 1400px;
    height: inherit;
    /*background: pink;*/
    margin: 0 auto;
    text-align: center;
}
.sample-wrapper .sampleBox .sample-tit {
        margin: 0 auto;
        /*background: orange;*/
        font-size: 35px;
        font-size: 3.5rem;
        color: #36474F;
        font-weight: normal;
        padding: 40px 0 0 0;
    }
.sample-wrapper .sampleBox .sample-ftit {
    margin:0 auto;
    /*background: violet;*/
    font-size: 20px;
    font-size: 2rem;
    color: #008b4a;
    font-weight: normal;
    padding: 0 0 35px 0;
}
.sample-wrapper .sampleBox .sample-list1 {
    width: 100%;
    height: 200px;
    /*background: orange;*/
}
@media (max-width:920px){
    .sample-wrapper .sampleBox .sample-list1 {
        height: 800px;
    }
}
.sample-wrapper .sample-list1 li {
    float: left;
    width: 25%;
    /*max-width: 350px;*/
    height: 200px;
    text-align: center;
}
@media (max-width:920px){
    .sample-wrapper .sample-list1 li {
        width: 100%;
    }
}
.sample-wrapper .sample-list1 li img {
    /*设置个宽高*/
}
.sample-wrapper .sample-list1 li p {
    margin-top: 25px;
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: bold;
}
.sample-wrapper .sampleBox .sample-list2 {
    width: 100%;
    height: 200px;
    /*background: violet;*/
}
@media (max-width:920px){
    .sample-wrapper .sampleBox .sample-list2 {
        height: 800px;
    }
}
.sample-wrapper .sample-list2 li {
    float: left;
    width: 25%;
    /*max-width: 350px;*/
    height: 200px;
    text-align: center;
}
@media (max-width:920px) {
    .sample-wrapper .sample-list2 li {
        width: 100%;
    }
}
.sample-wrapper .sample-list2 li p {
    margin-top: 25px;
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: bold;
}
/*section sample end*/
/*section client start*/
.client-wrapper {
    width: 100%;
    height: 410px;
    background: #fff;
    /*background: yellow;*/
}
@media (max-width:380px) {
    .client-wrapper {
       height: 440px;
       /*background: green;*/
    }
}
.client-wrapper .clientBox {
    max-width: 1400px;
    height: inherit;
    /*background: pink;*/
    margin: 0 auto;
    text-align: center;
}
.client-wrapper .clientBox .client-tit {
    margin:0 auto;
    /*background: orange;*/
    font-size: 35px;
    font-size: 3.5rem;
    color: #008b4a;
    font-weight: normal;
    padding: 40px 0 0 0;
}
.client-wrapper .clientBox .client-ftit {
    margin:0 auto;
    /*background: violet;*/
    font-size: 20px;
    font-size: 2rem;
    color: #008b4a;
    font-weight: normal;
    padding: 0 0 35px 0;
}
.client-wrapper .clientBox .client-list1 {
    width: 100%;
    height: 125px;
    /*background: orange;*/
}

.client-wrapper .client-list1 li {
    float: left;
    width: 25%;
    /*max-width: 350px;*/
    height: 125px;
    text-align: center;
}

.client-wrapper .client-list1 li img {
    width: 55px;
    height: 55px;
}
.client-wrapper .client-list1 li p {
    margin-top: 20px;
    font-size: 16px;
    font-size: 1.6rem;
}
@media (max-width:600px) {
    .client-wrapper .client-list1 li p {
        font-size: 14px;
        font-size: 1.4rem;
    }
}
.client-wrapper .clientBox .client-list2 {
    width: 100%;
    height: 105px;
    /*background: violet;*/
    padding-top: 20px;
}
.client-wrapper .client-list2 li {
    float: left;
    width: 25%;
    max-width: 350px;
    height: inherit;
    text-align: center;
}
.client-wrapper .client-list2 li img {
    width: 55px;
    height: 55px;
}
.client-wrapper .client-list2 li p {
    margin-top: 20px;
    font-size: 16px;
    font-size: 1.6rem;
}
@media (max-width:600px) {
    .client-wrapper .client-list2 li p {
        font-size: 14px;
        font-size: 1.4rem;
    }
}
/*section client end*/

/*section trend start*/
.trend-wrapper {
    width: 100%;
    height: 410px;
    background: #F7F7F7;   
}
.trend-wrapper .trendBox {
    max-width: 1400px;
    height: inherit;
    margin: 0 auto;
}
.trend-wrapper .trendBox > h1 {
    text-align: center;
    font-size: 35px;
    font-size: 3.5rem;
    color: #008b4a;
    font-weight: normal;
    padding-top: 40px;
}

.trend-wrapper .trendBox .trend-content-wrapper {
    width: 100%;
    height: 280px;
    margin-top: 20px;
}
.trend-wrapper .trendBox .trend-content-wrapper .trend-colomn {
    float: left;
    /*max-width: 350px;*/
    height: 280px;
    line-height: 28px;
}
.trend-wrapper .trendBox .trend-content-wrapper .trend-colomn h3{
    text-align: left;
    margin-bottom: 25px;
}
.trend-wrapper .trendBox .trend-content-wrapper .trend-aboutSimgen {
    width: 27%;

}
.trend-wrapper .trendBox .trend-content-wrapper .trend-aboutSimgen div {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    overflow: hidden;
}
.trend-wrapper .trendBox .trend-content-wrapper .trend-news {
    width: 41%;
}
.trend-wrapper .trendBox .trend-content-wrapper .trend-news div {
    width: 66%;
    margin: auto;
}
.trend-wrapper .trendBox .trend-content-wrapper .trend-news div ul {
    width: 100%;
}
.trend-wrapper .trendBox .trend-content-wrapper .trend-news div ul li {
    width: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.trend-wrapper .trendBox .trend-content-wrapper .trend-news div ul li a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.trend-wrapper .trendBox .trend-content-wrapper .trend-salesPromotion {
    width: 32%;
}
.trend-wrapper .trendBox .trend-content-wrapper .trend-salesPromotion ul {
    width: 100%;
}
.trend-wrapper .trendBox .trend-content-wrapper .trend-salesPromotion ul li {
    width: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.trend-wrapper .trendBox .trend-content-wrapper .trend-salesPromotion ul li a:hover {
    text-decoration: underline;
    cursor: pointer;
}
/*section trend end*/


/*footer start*/
footer {
    width: 100%;
    height: 270px;
    /*background: #f2f2f2;*/
    background: #ddd;
     /*background: #fff;*/
}
footer .footerBox {
    max-width: 1400px;
    height: inherit;
    /*background: orange;*/
    margin: 0 auto;
}
footer .footerBox ul {
    float: left;
    width: 33.3%;
    max-width: 466px;
    height: inherit;
    /*background: yellow;*/
    text-align: center;
}
footer .product .product-tit {
    font-size: 25px;
    font-size: 2.5rem;
    margin: 40px 0 35px;
}
footer .product .product-item {
    margin: 0 0 10px 0;
}
footer .info .info-tit {
    font-size: 25px;
    font-size: 2.5rem;
    margin: 40px 0 35px;
}
footer .info .info-item {
    margin: 0 0 3px 0;
}
footer .contact .contact-tit {
    font-size: 25px;
    font-size: 2.5rem;
    margin: 40px 0 35px;
}
footer .contact .contact-item {
    margin: 0 0 5px 0;
}
/*footer end*/

/*product-select-wrapper  产品选择页 start*/
.product-select-wrapper {
    width: 100%;
    margin-top: 55px;
    margin-top:135px;
    background: #f2f2f2;
}
.product-select-wrapper .product-selectBox{
    /*max-width: 1380px;
    padding-left: 20px;*/
    max-width: 1400px;
    margin: auto;
}
.flex-hover-card-container {
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    clear: both;
    min-height: 92px;
}
.flex-hover-card {
    box-shadow: none;
    flex: initial;
    margin: 8px;
    padding: 0;
    /*width: 284px;*/
    width: 300px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 2px;
    cursor: pointer;
    letter-spacing: .01em;
    position: relative;
    transition: all .3s;
}
.flex-hover-card img {
        max-width: 100%;
    }
.flex-hover-card .inner {
    color: #4a5960;
    min-height: 286px;
    padding: 40px 28px 0;
}
.flex-hover-card h3 {
   color: #4a5960;
   font-size: 20px;
   font-size: 2rem;
   font-weight: 400;
   line-height: 24px;
   font: 400 20px/32px Roboto,sans-serif;
   margin: 20px 0;
}
.flex-hover-card p {
    margin: 16px 0;
    padding: 0;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 26px;
}
.flex-hover-card span {
    border-top: 1px solid #e4e4e4;
    display: block;
    padding: 16px 28px;
    color: #039be5;
}
.text-uppercase {
    text-transform: uppercase;
} 
/*product-select-wrapper  产品选择页 end*/

/*product-species-wrapper 产品详情页 start*/
.product-species-wrapper {
    width: 100%;
    margin-top:137px;
    height: 1000px;/*给个高度有背景*/
    background: #f2f2f2;
}
.product-species-wrapper .product-speciesBox {
    max-width: 1400px;
    width: inherit;
    margin: 0 auto;
    font-size: 14px;
    font-size: 1.4rem;
    position: relative;
    background: #f2f2f2;
}
.product-species-wrapper .product-speciesBox .leftside-container {
    /*position: absolute;
    top: 135px;
    float: left;*/
    /*position: fixed;
    top: 135px;
    width: 230px;
    height: 100%;*/

    /*background: #fff;
    box-shadow: 2px 0 2px #bababa;
    line-height: 1.6em;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    max-width: 238px;让content-container的宽度自动变化*/

    background: #fff;
    box-shadow: 2px 0 2px #bababa;
    line-height: 1.6em;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 238px;
}

.product-species-wrapper .leftside-container .nav-product-species-container {
    /*overflow: auto;
    position: fixed;*/
    /*min-width: 230px;
    width: 230px;
    background: red;*/
    overflow: auto;/**/
    position: fixed;
    /*box-sizing: border-box;
    min-width: 230px;
    width: 230px;*/
    background: #fff;
    /*height: 900px;max-height: 580px;*/
}
.product-species-wrapper .nav-product-species {
    /*width: inherit;*/
    
}
.product-species-wrapper .nav-product-species span {
    display: block;
    /*background: #008b4a;*/
    background: #008b4a;
    height: 35px;
    line-height: 35px;
    color: #fff;
    padding-left: 20px;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: bold;
}
.product-species-wrapper .nav-product-species  ul {
    padding: 20px;
}

.product-species-wrapper .nav-product-species  ul li {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 25px;
}
.product-species-wrapper .nav-product-species  ul li a{
    color: rgba(0,0,0,.54);
}

.product-species-wrapper .nav-product-species  ul li:hover a{
    color: #008b4a;
}
.product-species-wrapper .content-container {  /*让content-container的宽度自动变化*/
    /*background: #fff;
    position: absolute;
    right:0;
    padding: 0 30px;
    max-width: 1144px;让content-container的宽度自动变化*/

    background: #fff;
    position: absolute;
    left: 270px;
    width: 1145px;
}
.product-species-wrapper .content-container .content-tit {
    height: 90px;
    font-size: 25px;
    font-size: 2.5rem;
    font-weight: bold;
    color: #000;
    line-height: 110px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
.product-species-wrapper .content-container .content-tit span {
     font-size: 14px;
     font-size: 1.4rem;
     padding: 1px 8px;
     background: #008b4a;
     border-radius: 5px;
     color: #fff;
     margin-left: 20px;
}
.product-species-wrapper .content-container .content-series {
    margin: 10px 0;
    font-size: 14px;
    font-size: 1.4rem;
}
.product-species-wrapper .content-container .content-series .content-series-a{
    display: inline-block;
    float: left;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    width: 160px;
    line-height: 28px;
    text-align: center;
    background: #008b4a;
    border-radius: 3px;
    color: #fff;
    margin-right: 10px;
}
.product-species-wrapper .content-container .content-series .content-series-a:hover {
    text-decoration: underline;
}
.product-species-wrapper .content-container .content-series  .content-series-qq-wrapper {
    display: inline-block;
    float: left;
    cursor: pointer;
    margin-top: 2px;
}
.product-species-wrapper .content-container .content-series  .content-series-number {
    float: right;
    margin-top: 2px;
}
.product-species-wrapper .content-container .content-size {
    width: 100%;
    margin-bottom: 25px;
}
.product-species-wrapper .content-container .content-size table {
    width: 100%;
    text-align: center;
}
.product-species-wrapper .content-container .content-size table tr td:nth-child(1){
    width: 80%;
}
.product-species-wrapper .content-container .content-size table tr td:nth-child(2){

}
.product-species-wrapper .content-container .content-description {
    width: 100%;
    padding: 10px 0;
    background-color: #fffdef;
    border: 1px solid #f9e7b6;
    margin-bottom: 25px;
}
.product-species-wrapper .content-container .content-description .content-description-left {
    float: left;
    display: inline-block;
}
.product-species-wrapper .content-container .content-description .content-description-left p {
    margin-bottom: 5px;
}
.product-species-wrapper .content-container .content-description img {
    float:right;
}
.product-species-wrapper .content-container .content-detaildescription {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 25px;
}





/*product-species-wrapper 产品详情页 end*/


